.team1 {
    margin-right: 20%;
  }
  
  .team2 {
    margin-left: 20%;
  }  

ion-modal#custom-modal {
    --width: 80%;
    --height: 40%;
    --border-radius: 6px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  ion-modal#custom-modal h1 {
    margin: 1%;
    font-size: 10%;
  }
  
  ion-modal#custom-modal ion-item {
    margin: 1%;
  }
  
  ion-modal#custom-modal ion-button {
    margin: 1%;
  }
  
  ion-modal#custom-modal .modal-content {
    padding: 1%;
  }
  
  ion-modal#custom-modal ion-item ion-label {
    font-weight: bold;
  }
  
  ion-modal#custom-modal ion-text {
    font-weight: normal;
    font-style: italic;
  }
  

  ion-modal#custom-modal {
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  ion-modal#custom-modal h1 {
    font-size: 10%;
    text-align: center;
    margin: 1% 0;
  }
  
  ion-modal#custom-modal .wrapper {
    padding: 1%;
  }
  
  ion-modal#custom-modal p {
    text-align: center;
    margin: 1% 0;
  }
  
  ion-modal#custom-modal ion-item {
    --inner-padding-start: 1%; /* Ajustez l'espacement du champ de texte */
    --inner-padding-end: 1%;
    margin: 1%;
  }
  
  ion-modal#custom-modal ion-button {
    margin: 1%;
  }
  