<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ybet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-background">
  <div class="header">
    <img src="assets/ballon.jpg" alt="Sports Betting Icon" class="icon">
  </div>

  <div class="header">
    <h1>Bienvenue sur Ybet</h1>
    <p>Pariez sur vos sports préférés et gagnez gros !</p>
  </div>

  <div class="main-content">
    <ion-button expand="full" class="inscription-button" routerLink="/inscription">Inscription</ion-button>
  </div>

  <div class="main-content">
    <ion-button expand="full" class="connexion-button" routerLink="/connexion">Connexion</ion-button>
  </div>
</ion-content>

